* {
  background-color: #1b1b1b;
  color: aliceblue;
}
img {
  padding: 0.2rem;
}
.home-list {
  justify-content: space-evenly;
  display: flex;
  padding: 3rem;
}
#home-header {
  margin: 7rem;
  padding: 5rem;
}
.home-list-title {
  padding-left: 5rem;
}
.artist-component {
  color: #1b1b1b;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 22rem;
  width: 50%;
  padding-top: 1rem;
  height: 20rem;
}
#artist-img-component {
  width: 25rem;
  height: 20rem;
}
.acordion-container {
  margin: auto;
  width: 45rem;
  height: 20rem;
}
.acordion-item-panel {
  border-radius: 100px;
}
.song-component {
  font-size: 1rem;
  margin: auto;
  margin-top: 10rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
} */

/* html, body {
  height: 100%;
} */
